*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;  
}
body{
    margin: 0%;
    padding: 0%;
    /* font-family: monospace;
    background-color: #5e5e5e; */
     
}
nav{
    background: #bd9999;
    height: 70px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 25px;
    line-height: 70px;
    padding: 0 100px;
    font-weight: bold;

}
nav ul{
    float: right;
    margin-right: 20px;
  }
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 10px 13px;
    border-radius: 3px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}
a.active, a:hover{
    background: #312fc2;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    level.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;

    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #a30202;
        top: 80px;
        left: 0;
        text-align: center;
    }
    nav ul li{
        display: block;

    }
    nav ul li a{
        font-size: 20px;
    }
}


/* next part */


.p{
    font-size: 24px;
}

input{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: rgb(139, 111, 111);
    
    border-radius: pointer;
}

main{
    justify-content: space-around;
}
.cont{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 90px 15px;
    
}
.cont h3{
    display: inline;
    text-decoration: none;
    
    margin: 0;
    color: rgb(0, 0, 0);
}
.cont p{
    color: rgb(7, 6, 6);
}
.cont input{
    color: rgb(255, 255, 255);
    border: 0;
    background-color: #000000;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 20px;
    padding: 90px 20px;
}
.col-1 h3{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 44px;
}
.col-1 p{

    font-size: 20px;
    color: #020102;
    font-weight: 200px;
    text-align: left;
}
.cont img{
    height: 240px;
}

.right {
    position: relative;
    top: -10px;
    left: 0;
  }
  
.img1 {
    position: relative;
    top: 0;
    left: 0;
    border: 0px solid #ece8e8;
  }
  
.below{
    text-align: below;
    justify-content: space-around;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;

 }

.img2 {
    position: absolute;
    top: 5px;
    left: 10px;
    border: 0px solid #000000;
  }

  .container{
    justify-content: center;
    display: flex;
    margin-top: 50px;
    border: 0cm;
}
.product{
    justify-content: center;
    display: flex;
    margin-top: 50px;
    border: 0cm;
}

.gallery{
    counter-reset: Serial;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 10px 28px #fffcfcd7,  0 10px 10px #968b8bd7;
}

.content :hover{
    box-shadow: 0 3px 6px #d60606d7, 
    0 3px 6px #d60606d7;
    transform: translate(0px, -8px);
}
.img-1{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;

}
p{
    text-align: center;
    color: #f50dbb;
    padding-top: 0 8px;
}
h6{
    font-size: 26px;
    text-align: center;
    color: #000000;
    margin: 0;

}


.fa{
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}
/* HOme */

.popular-collection{
    height: 1662px;
    width: 1047px;
    padding-left: 230px;
}

.popular-collection img{
    width: 300px;
    
}
.popular-collection h1{
    text-align: center;
    font-size: 28px;
    font-weight: 600px;
}
.price{
    font-size: 24px;
    font-weight: 400;
    ;
}

.star{
    display:flex;
    justify-content: space-around;
    width: 122px;
    padding-left: 14px;
}
/* Footer */

#footer {
    background: #41777e;
    padding: 100px; 
}
.row {
    text-align: center;
    color: #ece8e8;
    
}
.container{
    color: rgb(0, 0, 0);
    border: 4px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    position: below;
                
}
.container a{
    color: #ffffff;
}

 a{
    text-decoration: none;
}  

/* photo replace */
.photo-contain{
    position: absolute;
    top: 70px;
    left: 900px;
}
.photo-contain h2{
    text-align: center;
    color: #047685;

}