*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", "sans-serif";
} 
body{
    position: relative;
    background: #06a7c4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
::selection{
    color: white;
    background: #07cae4;
} 
.form{
    position: relative;
    background: #ffffff;
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: -3px 3px 10px -5px rgba(rgb(7, 6, 6), green, blue, alpha);
    padding: 30px 30px;
}
.form h2{
    font-size: 30px;
    font-weight: 700;
}
.form p{
    font-size: 14px;
    padding-bottom: 8px;
}

.form form{
    margin: 8px;
}
.form form .error-text{
    color: rgb(224, 0, 0);
    padding: 4px 6px;
    text-align: center;
    border-radius: 4px;
    background: #f3eadc;
    border: 1px solid rgb(233, 0, 0);
    margin-bottom: 8px;  
    
}
.form .grid-details{
    display: flex;
}
.form .grid-details .input:first-child{
    margin-left: 8px;
    width: 100%;
}
.form .grid-details .input:last-child{
    margin-left: 8px;
    width: 100%;
}
.form .grid-details .input input{
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding: 0 8px;
    border: 1px solid rgb(112, 104, 104);
    border-radius: 5px;
    outline: none;
}



